*~
build
.ninja*
CMakeCache.txt
rules.ninja
cmake_install.cmake
src/cmake_install.cmake
scripts/cnfuzz
scripts/minisat
scripts/gmon.out
.cache/
.vscode/
CMakeFiles
*.o
*.o[dr]
3rdParty/glucose-3.0/core/depend.mk
.idea/
docs/
xml/
.clang-uml
__pycache__
__init__.py

# FetchContent directories
3rdParty/*-src/
3rdParty/*-build/
3rdParty/*-subbuild/