[submodule "3rdParty/reducer"]
	path = 3rdParty/reducer
	url = https://gitlab.univ-artois.fr/preprocessing/reducer.git
[submodule "bipe"]
	path = 3rdParty/bipe
	url = https://gitlab.univ-artois.fr/preprocessing/bipe.git
[submodule "3rdParty/eliminator"]
	path = 3rdParty/eliminator
	url = https://gitlab.univ-artois.fr/preprocessing/eliminator.git
